
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    scroll-behavior: smooth;
}
.body{
    display: none;
    background: #000000;
}
.container-all{
    max-width: 1280px;
    margin:0 auto;
}
.header img{
    /* position:fixed; */
    position: absolute;
    top:10px;
    left:0;
    height: 100px;
    width: 100px;
    z-index: 1000;
}

.header .menu-bar{
    position: fixed;
    top:30px;
    right:30px;
    height:50px;
    width:50px;
    padding:10px;
    text-align: center;
    background: #000000;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3), -2px -2px 15px rgba(0,0,0,0.2);
    z-index:1000;
    cursor: pointer;
}

.menu{
    position: fixed;
    right: 30px;
    top:80px;
    visibility: hidden;
    z-index:1000;
    user-select: none;
}
.active{
    visibility: visible;
    animation: slide-down 2s cubic-bezier(0.075, 0.82, 0.165, 1)  1 both;
}
.icon li{
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    background: rgba(0,0,0,0.2);
    border-radius: 50px;
    box-shadow: 2px 4px 10px rgba(124, 68, 68, 0.3),-2px -4px 15px rgba(0,0,0,0.4);
    z-index:1000;
    text-align: center;
    cursor: pointer;
    position: relative;
    color:#fff;
}
.icon li a{
    text-decoration: none;
    outline: none;
}
.icon i{
    font-size:30px;
    background:#a767e5;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.menu li:hover::before{
    position: absolute;
    top:18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: slide-in 1s ease-out  1 forwards;
    background-image: linear-gradient( 90deg, #81FBB8 10%, #28C76F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu li:nth-child(1):hover::before{
    content: 'home';
    left:-50px;
    
}
.menu li:nth-child(2):hover::before{
    content: 'Education';
    left:-80px;
}
.menu li:nth-child(3):hover::before{
    content: 'Skills';
    left:-50px;
}
.menu li:nth-child(4):hover::before{
    content: 'Projects';
    left:-70px;
}
.menu li:nth-child(5):hover::before{
    content: 'Contact Me';
    left:-90px;
}
@keyframes slide-down {
    to{
        transform:translateY(0);
        opacity: 1;
    }
    from{
        transform: translateY(-50px);
        opacity: 1;
    }
}
@keyframes slide-in{
    to{
        transform:translateX(0);
        opacity:1;
    }
    from{
        transform: translateX(-50px);
        opacity:0;
    }
}

@keyframes slide{
    to{
        transform:translateX(0);
        opacity:1;
    }
    from{
        transform: translateX(-50px);
        opacity:0;
    }
}
/* end of header */

/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    flex-flow: column-reverse wrap;
    padding:100px 10px 10px 10px;
    overflow: hidden;
    color: #ffffff;
}
.hero img{
    height: auto;
    width:100%;
    -ms-flex-order:1;
}

.hero .text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
}
.hero .text .hero-name h1{
    font-size:50px;
    font-weight: bold;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text .subline h2{
    font-size:20px;
    font-weight: lighter;
}
.hero-name{
    margin:0;
}
.subline,.contact-buttons,.social-media{
    margin:0 0 40px 0;
}
.text .contact-buttons a{
    text-decoration: none;
    padding: 10px 30px;
    background:#a767e5;
    border-radius: 5px;
    color:#ffffff;
    margin-right:15px;
}

.social-media ul{
    display: flex;
    flex-direction: row;
}
.social-media ul li{
    margin-right: 15px;
    width:50px;
    height: 50px;
    box-shadow: 2px 4px 10px rgba(124, 68, 68, 0.3),-2px -4px 15px rgba(0,0,0,0.4);
}

/* end of Hero section */

/* For all Headings and background */
.container{
    padding:30px 10px;
}
.container h2{
    text-align: center;
    font-size:30px;
    /* background:linear-gradient(90deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:#a767e5;
    margin:40px auto 0 auto;
    font-family: 'Gravitas One', cursive;
}

/* Education */
.education{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.education ul li{
    list-style: none;
    margin: 10px auto;
    position: relative;
    padding:10px 20px;
    color:#ffffff;
    font-weight: bold;
    text-align: center;
}

.box{
    position: relative;
    margin:20px auto;
    background:linear-gradient(110deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    border-radius:10px;
    min-height:300px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.3), -5px -10px 20px rgba(0,0,0,0.2);
    transition: all 1s ease-out;
    padding:5px;
    color:#fff;
}
.box ul{
    width: 100%;
    min-height: 290px;
    background:#000;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    padding:20px 10px;
    border-radius: 10px;
}
.box:hover{
    box-shadow: none;
}
/* .box::before{
    content:'';
    position: absolute;
    width:25px;
    height: 450px;
    left:-45px;
    top:-80px;
    border-radius: 5px;
    background-image:linear-gradient(90deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b)    ;
    box-shadow: 2px 4px 15px rgba(0,0,0,0.2), -2px -4px 20px rgba(0,0,0,0.1);
    z-index: 0;
}
.box::after{
    content: '❤';
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 25px;
    border-radius: 30px;
    background-image:linear-gradient(90deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);

    color: #cd1111;
    left: -52px;
    top:110px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3), -2px -4px 15px rgba(0,0,0,0.4);
    z-index: 5;
} */


/* skills */
.skills{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.skills .skill{
    width: 80px;
    height: auto;
    margin: 15px 10px;
}
.skills .skill img{
    width: 100%;
    height: auto;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.skills .skill img:hover{
    transform: scale(1.15) translateY(-10px);
}
/* .circular{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top:10px;
}
.circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #000000;
    border-radius: 100%;
}
.circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    z-index: 6;
}
.circle .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:50%;
    clip: rect(0px,100px,100px,50px);
    background:#000000;
}
.circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:50%;
    clip: rect(0px,50px,100px,0px);
    display: none;
}
.circle .left .progress{
    z-index: 2;
    animation: progress 4s linear both;
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background:linear-gradient(110deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
}
@keyframes progress {
    100%{
        transform: rotate(180deg);
    }
}
.circle .right{
    transform:rotate(180deg);
    z-index: 4;
}
.circle .right .progress{
    animation: progress 4s linear 4s both;
    /* background: rgb(253,187,45);
    background: linear-gradient(0deg,rgba(253,187,45,1) 0%,rgba(34,193,195,1) 100%);
    background:linear-gradient(110deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
}

.skill1 .circle .right .progress{
    animation: skill1 3.2s linear 4s both;
    /* background: rgb(253,187,45);
    background: linear-gradient(0deg,rgba(253,187,45,1) 40%,rgba(34,193,195,1) 60%);
}

.skill2 .circle .right .progress{
    animation: skill2 3.8s linear 4s both;
}

.skill3 .circle .right .progress{
    animation: none;
}

.skill4 .circle .right .progress{
    animation: skill4 3s linear 4s both;
    /* background: rgb(253,187,45);
    background: linear-gradient(0deg,rgba(253,187,45,1) 60%,rgba(34,193,195,1) 80%);
}

.skill5 .circle .right .progress{
    animation: skill5 3.6s linear 4s both;
}
.skill6 .circle .right .progress{
    animation: skill5 3.6s linear 4s both;
}

@keyframes skill1{
    100%{
        transform: rotate(144deg);
    }
}
@keyframes skill2{
    100%{
        transform: rotate(90deg);
    }
}
@keyframes skill5{
    100%{
        transform: rotate(144deg);
    }
}
@keyframes skill6{
    100%{
        transform: rotate(144deg);
    }
} */

/* Projects */
.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.project{
    position: relative;
    width: 95%;
    /* height: 300px; */
    border-radius: 10px;
    margin: 20px auto;
    background: #000000;
    aspect-ratio: 1.5;
    box-shadow: 5px 5px 20px  rgba(0,0,0,0.4), -5px -8px 20px rgba(0,0,0,0.3);
    transition-duration: 1s;
    overflow: auto;
    scrollbar-width: 0.1px;
}
.project:hover{
    box-shadow: none;
}
.project img{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: #000;
    opacity: 0.6;
}
.project .head-name{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 1.25px;
}
.project .details{
    position: absolute;
    top:0;
    bottom:0;
    padding:10px 20px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    visibility: hidden;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.projects .details::-webkit-scrollbar{
    width: 1px;
}
.project .details .name{
    margin-top:50px;
    margin-bottom: 10px;
    font-size:23px;
    font-weight: bold;
    color: rgb(131,58,180);
}
.project .details li{
    font-size:15px;
    list-style: none;
    padding:1px 5px;
}
.project .details ul li::before{
    content:'🎉';
}
.project:hover .details{
    visibility: visible;
    animation: slide-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    transform-origin: bottom;
}
.project:hover .head-name {
    visibility: hidden;
}
.project6,.project5,.project6 .details, .project5 .details{
    background: rgba(0,0,0,0.9);
}

@keyframes slide-right {
    to{
        transform:translateX(0px);
    }
    from{
        transform: translateX(-200px);
    }
}
.project .details a{
    color: #000;
    padding:10px 20px;
    margin-top:20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    background: rgb(131,58,180);
    color:#ffffff;
}


/* end of projects */

/* start of Contact form */
#contact{
    margin-top: 50px;
    color:rgb(131,58,180);
}
.contact{
    margin: 20px auto;
    max-width: 720px;
}
.contact form{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cont{
    width:100%;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(110deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    margin: 10px auto;
    border-radius:10px;

}
#message{
    width: 100%;
    min-width:100%;
    padding: 20px;
    background: transparent;
    color: #ffffff;
    border-radius:8px;
    outline: none;
    background:#000;
}
.contact input{
    padding: 20px;
    width:100%;
    background:#000 ;
    border:none;
    border-radius:8px ;
    color: #ffffff;
    font-size:1em; 
    outline: none;
}
.btn-cont{
    margin: 10px 0;
    padding:4px;
    height:58px;
    width: 100%;
    background:linear-gradient(110deg, #4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    overflow: hidden;
    border-radius: 10px;
}
.contact button{
    height:50px;
    cursor: pointer;
    color: #ffffff;
    width:100%;
    font-size:1em; 
    outline: none;
    border:none;
    background:#000;
    border-radius: 8px;

}
.btn-cont:hover,#contact:hover{
    animation: effect 0.7s linear infinite;
}
@keyframes effect{
    0%{
        background-position: 0;
    }
    100%{
        background-position:-200px;
    }
}
    
/* end of contact form */

/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #000;
}
.footer span{
    font-size: 35px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

/* media queries */
@media screen and (min-width:468px){
    .header img{
        left:50px;
    }
    .project,.project .details{
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media screen and (min-width:768px) {
    .hero{
        padding-left: 40px;
        flex-flow: row;
    }
    .hero .text .hero-name h1{
        font-size: 80px;
    }
    .hero img{
        width: 500px;
        height: auto;
    }
    .container h2{
        font-size: 40px;
    }
    .box{
        width:350px;
    }
    .box::after,.box::before{
        visibility: hidden;
    }
    .project{
        width:450px;
        overflow: hidden;
    }
    .project .details{
        padding:30px 20px;
    }
    
}
